<div class="container">
    <div class="container">
        <div class="row" style="color: #fff;margin-top:15%">

            <div class="loading-indicator col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center" style="color: #fff;margin-bottom:20px">
                <img src="assets/img/preloaders/128/Preloader_3.gif"/>
            </div>
            <div class="loading-indicator col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <!--<div class="progress v_upload-progress-bar">-->
                    <!--<div class="progress-bar progress-bar-info" role="progressbar"  data-bind="attr:{'aria-valuenow' : ViewModel().LoadingPercentage()}" style="width: 20%" aria-valuemin="0" aria-valuemax="100">-->
                        <!--<span data-bind="text:ViewModel().LoadingPercentage()" style="color: #fff">Please wait !</span>-->
                    <!--</div>-->

                <!--</div>-->
                <div class="loading-indicator col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center" style="color: #fff">
                    <a href="javascript:location.reload(true)" style="color: #16a1f2">Reload page</a>
                </div>
            </div>
        </div>
    </div>
</div>
