
<!-- BEGIN CRUMBS-->
<div class="row text-center font-13" style="min-height: 600px" >

    <div class="col-lg-6 col-lg-offset-3">
        <img src="assets/img/transfer/box-empty-icon.png">
        <h5>404 NOT FOUND</h5>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
        <span>Máy chủ hiện tại không thể đáp ứng yêu cầu của bạn, xin </span>
        <a href="#" data-bind="attr: { href: router.navigationModel()[0].hash }">nhấp vào đây</a>
        <span>để về trang chính</span>
        <br>
        <span>hoặc vào</span>
        <a href="javascript:window.load('#')" style="color: #16a1f2">đây</a>
        <span>để tải lại trang web</span>
    </div>


</div>
<!-- END CRUMB-->

<div class="clearfix"></div>



